body {
	font-family: "microsoft yahei";
}

input {
	cursor: pointer;
}

.fix-puzzle {
	margin: 0 auto;
	width: 1040px;
}

.puzzle {
	float: left;

	position: relative;

	margin-bottom: 20px;
	border: 10px solid grey;
	border-radius: 10px;
	width: 499px;
	height: 299px;
}

.puzzle .chips {
	position: absolute;
	
	margin: 0;

	cursor: pointer;

	background: url(../images/beauty.jpg) no-repeat;
}

.reference {
	float: right;

	margin-bottom: 20px;
	border: 10px solid grey;
	border-radius: 10px;
	width: 499px;
	height: 299px;

	background: url(../images/beauty.jpg) no-repeat;
}

.hard-text {
	margin-left: 380px;
}

.sure {
	margin-left: 30px;
}
