@media screen and (min-device-width: 480px) {
	.fix-puzzle {
		margin: 0 auto;
		width: 1040px;
	}

	.puzzle {
		float: left;

		position: relative;

		margin-bottom: 20px;
		border: 1px solid grey;
		width: 499px;
		height: 299px;
	}

	.reference {
		float: right;

		margin-bottom: 20px;
		border: 1px solid grey;
		width: 499px;
		height: 299px;

		background: url(../images/beauty.jpg) no-repeat;
	}

	.hard-text {
		margin-top: 20px;
		margin-left: 380px;
	}
}

@media screen and (max-device-width: 480px) {
	.fix-puzzle {
		/*margin: 0 auto;*/
		width: 500px;
	}

	.puzzle {
		position: relative;

		margin-top: 10px;
		border: 1px solid grey;
		width: 499px;
		height: 299px;
	}

	.reference {
		border: 1px solid grey;
		width: 499px;
		height: 299px;

		background: url(../images/beauty.jpg) no-repeat;
	}

	.hard-text {
		margin-top: 20px;
		margin-left: 120px;
	}
}

.puzzle .chips {
	position: absolute;
	
	margin: 0;

	cursor: pointer;

	background: url(../images/beauty.jpg) no-repeat;
}

.sure {
	margin-top: 20px;
	margin-left: 30px;
}