- var styleSrc = '../css/index.css'
- var page = 'index'
- var width = 'device-width'

include ./chips/head.jade
//- meta(name="viewport" content="width=device-width, initial-scale=1.0")
body
    include ./chips/nav.jade
    div.sky
        canvas#myCanvas(width="1920" height="1000")
    script(src="../js/sky.js")
    //- script(src="../js/nav.js")
